<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<th:block>

</th:block>


<div th:fragment="header" class="header" style="font-size: 15px; color: #6d6d6d;">
  <nav class="navbar navbar-expand-sm bg-default nvbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"></a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03" style="color: #6d6d6d;">
      <ul class="nav navbar-nav headPageALink">
        <li class="nav-item">
          <a class="nav-link" href="">상품 등록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">상품 관리</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">구매이력</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">로그아웃</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

</html>